* {
  box-sizing: border-box;
}
html {
  margin: 0;
  overflow: none;
}
body {
  margin: 0;
}
#cnvs {
  border: 1px solid black;
  background: #000000;
  z-index: 0;
}
#canvasArea {
  background: #f3f3f3;
}
#brushSize {
  width: 100%;
  height: 30px;
  text-align: center;
  background: #572ea4;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
}
#toolBar {
  position: fixed !important;
  width: 90%;
  height: 50px;
  z-index: 1;
}
a {
  position: fixed;
  bottom: 0px;
}
label {
  background: white;
  z-index: 1;
}